<html>
	<head></head>
	<body>	
	<h1><%= @@mensaje %></h1>


	<form action="/ingresaletra" method="post">
	<p> Letra: <input type ="text"  name ="letra"></p>
	<input type ="submit"  id ="btningresa" value = "ingresar">
	</form>

	</body>
</html>
